.container{

    background-color: gray;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content:space-between ;
    align-items: flex-end;
    flex-direction: column;

}

.box{

    background-color: green;
    margin: 20px;
    width: 200px;
    height: 200px;
}

.box_content{

text-align: center;

}