.container{

    background-color: gray;
    height: 100vh;
    width: 100%;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: stretch;

}

.box{

    background-color: green;
    width: 200px;
    
    position: relative;
   margin: 10px;
}

.box_content{

text-transform: capitalize;
position: absolute;
left: 50%;
top: 50%;
font-weight: bold;


}