*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{

    display: flex;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    flex-wrap: wrap;
    justify-content: center;
    /* align-items: center; */
    align-content: center;
    height: 100vh;
    background-color:aquamarine ;
   

}


.box{

background-color: red;
width: 200px;
height: 200px;
margin: 10px;
}
